<div id="div-home-page">
  <div id="div-container-home-page">
    <div class="md-3 d-flex flex-wrap justify-content-around" id="div-container-card1-home-page">
      <div class="card">
        <button type="button" class="btn btn-info rounded border-0" style="width: 250px; height: 250px">Minha
          Conta</button>
      </div>
      <div class="card">
        <button type="button" class="btn btn-info rounded border-0" style="width: 250px; height: 250px">Cadápio</button>
      </div>
    </div>
    <div class="md-3 d-flex flex-wrap justify-content-around" id="div-container-card2-home-page">
      <div class="card">
        <button type="button" class="btn btn-info rounded border-0" style="width: 250px; height: 250px">Pagar</button>
      </div>
      <div class="card">
        <button type="button" class="btn btn-info rounded border-0" style="width: 250px; height: 250px">Meus
          Pedidos</button>
      </div>
    </div>
  </div>
</div>
