<section class="container-fluid d-flex">
  <!-- Modal -->
  <div class="modal fade" id="modalQRCode" tabindex="-1" aria-labelledby="modalQRCodeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center align-items-center">
          <img src="../../../assets/icon/logo-header-pro.png" width="50px" alt="frameQrCodeBgPro">
          <h1 class="modal-title" id="modalQRCodeLabel"><strong> Beginners PRO </strong></h1>
        </div>
        <div class="modal-body d-flex flex-wrap justify-content-between align-items-center">
          <img src="../../../assets/icon//frameQrCodeBgPro.png" width="500px" alt="frameQrCodeBgPro">
        </div>
      </div>
    </div>
  </div>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-info" aria-label="Main navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Lanchão do fominha</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#navbarsExampleDefault" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" id="header-home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#" id="header-cadastro">Conta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#" id="header-cardapio">Cardápio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#" id="header-faca-pedidos">Faça Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#" id="header-meus-pedidos">Meus Pedidos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="container-fluid align-self-center">
    <app-home-page></app-home-page>
    <!-- <app-conta-page></app-conta-page> -->
  </section>
  <section class="container-fluid" style="display:none">
    <div>
      <img src="../../../assets/icon//frameQrCodeBgPro.png" width="512px" alt="frameQrCodeBgPro">
    </div>
  </section>
  <footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-info">
    <div class="col-md-4 d-flex justify-content-center">
      <h5 class="text-white">© 2022 Company, Inc, </h5>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <h5 class="text-white"> by Fabio Novais </h5>
    </div>
    <ul class="nav col-md-4 justify-content-around list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" target="Blanck" href="https://www.instagram.com/fabiosnovais">
          <img class="bi" src="../../../assets/icon/logotipo-do-instagram.png" alt="Instagram">
        </a></li>
      <li class="ms-3"><a class="text-muted" target="Blanck" href="https://www.linkedin.com/in/fabio-novais">
          <img src="../../../assets/icon/linkedin.png" alt="Linkedin">
        </a></li>
      <li class="ms-3"><a class="text-muted" target="Blanck" href="https://github.com/FsnRorschach">
          <img src="../../../assets/icon/github.png" alt="Github">
        </a></li>
      <li class="ms-3"><a class="text-muted" target="Blanck" href="https://wa.me/5511972371253">
          <img src="../../../assets/icon/whatsapp.png" alt="Whatsapp">
        </a></li>
      <li class="ms-3"><a class="text-muted" target="Blanck" href="https://beginnerspro.faculdadeiv2.com.br/"
          data-toggle="modal" data-target="#modalQRCode">
          <img src="../../../assets/icon//frameQrCodeBgPro.png" width="24px" alt="frameQrCodeBgPro">
        </a></li>
    </ul>
  </footer>
</section>
