<section  id="section-conta-page">
    <div class="table-responsive-lg">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bg-success text-white" id="inputGroup-sizing-lg" style="width:115px;">Hot-Dog:</span>
                            <input type="text" [(ngModel)]="hotDog" [ngModelOptions]="{standalone:true}" readonly>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bg-success text-white" id="inputGroup-sizing-lg" style="width:115px">X-tudo:</span>
                            <input type="text" [(ngModel)]="xtudo" [ngModelOptions]="{standalone:true}" readonly>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal paga-page-->
    <div class="modal fade" id="modal-paga-page" tabindex="-1" aria-labelledby="modal-paga-page-Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center align-items-center">
                    <img src="../../../assets/icon/logo-header-pro.png" width="50px" alt="frameQrCodeBgPro">
                    <h1 class="modal-title" id="modalQRCodeLabel"><strong> Beginners PRO </strong></h1>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-between align-items-center">
                    <h3><strong>Carrinho vazio 😔🍔🍔</strong></h3>
                </div>
            </div>
        </div>
    </div>
</section>
