<section>
    <div>
        <div class="table-responsive-lg">
            <table class="table">
                <tr>
                    <th scope="row">1</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><span class="material-icons">
                        delete
                        </span></td>
                  </tr>
            </table>
          </div>
    </div>
    <!-- Modal paga-page-->
    <div class="modal fade" id="modal-paga-page" tabindex="-1" aria-labelledby="modal-paga-page-Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center align-items-center">
                    <img src="../../../assets/icon/logo-header-pro.png" width="50px" alt="frameQrCodeBgPro">
                    <h1 class="modal-title" id="modalQRCodeLabel"><strong> Beginners PRO </strong></h1>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-between align-items-center">
                    <h3><strong>Carrinho vazio 😔🍔🍔</strong></h3>
                </div>
            </div>
        </div>
    </div>
</section>
