#div-container-cardapio-page {
  margin: 70px 25px 30px;
}

#div-btnfinaliza-cardapio-page {
  margin-bottom: 155px;
}

#card {
  background: rgba(255, 255, 255, 1.0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

#spanRemoveItemH,
#spanRemoveItemX{
  cursor: pointer;
}